pre[class*="language-"] 
  code
    background none
code
  background rgba($accentColor, .2)
  border-radius 5px
  color darken($textColor, 10%)
  padding .2rem;
  margin 0 .1rem;

div[class*="language-"]
  position relative
  background-color $codeBgColor
  border-radius 6px

  .code-copy
    opacity: 1 !important
    position absolute
    top: .88rem;
    right 0
    color: #fdfdfd;
    &>span
      font-size: 1rem;
      right: .5rem;
      top: 1.2rem;

  .highlight-lines
    user-select none
    padding-top 1.3rem
    position absolute
    top 0
    left 0
    width 100%
    line-height 1.4

    .highlighted
      background-color rgba(0, 0, 0, 66%)

  pre, pre[class*="language-"]
    background transparent
    position relative
    z-index 1
    padding-top: 2rem;

  &::before
    position: absolute
    top: 1.2rem
    right: 2.5rem;
    line-height: 0
    font-weight: 700
    font-family: normal
    filte invert(50%)
    cursor pointer
    z-index 3
    font-size 1.4rem
    color #fdfdfd;
    opacity 0.45


  &::after
    content: " "
    position: absolute
    border-radius: 50%
    background: $accentColor
    width: 12px
    height: 12px
    top: 0;
    left: 12px
    margin-top: 12px
    -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f
    box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f

  &:not(.line-numbers-mode)
    .line-numbers-wrapper
      display none

  &.line-numbers-mode
    .highlight-lines .highlighted
      position relative

      &:before
        content ' '
        position absolute
        z-index 3
        left 0
        top 0
        display block
        width $lineNumbersWrapperWidth
        height 100%
        background-color rgba(0, 0, 0, 66%)

    pre
      //padding-left $lineNumbersWrapperWidth + 1 rem
      vertical-align middle
      padding 2rem 0 0.5rem 4rem

    .line-numbers-wrapper
      position absolute
      top 12px
      width $lineNumbersWrapperWidth
      text-align center
      color #fdfdfd
      text-shadow 0 0 2px darken($accentColor, 25%), 0 0 3px rgba($accentColor, .5), 0 0 5px rgba($accentColor, .5), 0 0 8px rgba($accentColor, .5)
      padding-top 1.25rem
      line-height 1.5
      padding-bottom 0

      br
        user-select none

      .line-number
        position relative
        z-index 4
        user-select none
        font-size 1em

for lang in $codeLang
  div{'[class~="language-' + lang + '"]'}
    &:before
      content ('' + lang)

div[class~="language-html"], div[class~="language-markup"]
  &:before
    content "html"

div[class~="language-html5"]
  &:before
    content "h5"

div[class~="language-java"]
  &:before
    content "java"

div[class~="language-javascript"]
  &:before
    content "js"

div[class~="language-typescript"]
  &:before
    content "ts"

div[class~="language-markdown"]
  &:before
    content "md"

div[class~="language-json"]:before
  content "json"

div[class~="language-ruby"]:before
  content "rb"

div[class~="language-python"]:before
  content "py"

div[class~="language-bash"]:before
  content "sh"

div[class~="language-php"]:before
  content "php"
